<div class="auth-container">
  <div class="auth-box">
    <h2>Crear cuenta</h2>
    <form id="registerForm" method="post" action="/api/sessions/register">
      <input name="first_name" required placeholder="Nombre" />
      <input name="last_name" required placeholder="Apellido" />
      <input name="email" type="email" required placeholder="Email" />
      <input name="age" type="number" placeholder="Edad" />
      <input name="password" type="password" required placeholder="Contraseña" />
      <button type="submit">Registrarme</button>
    </form>
    <p>¿Ya tenés cuenta? <a href="/login">Iniciá sesión</a></p>
  </div>
</div>
